{% extends 'base.html' %}

{% block title %}Landlslide Prediction{% endblock %}

{% block content %}

<section class="banner v1 bg-cover-center" data-background="https://www.thethirdpole.net/content/uploads/2014/08/Sindhupalchowk-landslide-Nepal.jpg" style="background-image: url(&quot;/static/img/banner/v1/banner-2.jpg&quot;);height: 150%;">
    <div class="container">
      <div class="row align-items-center" style="margin-top: 10%;">
        <div class="col-lg-12">
          <div class="banner-content" style="background-color: rgba(248, 249, 250, 0.8); border-radius: 10px; padding:  20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
              <h4 style="color: #343a40; font-size: 24px; margin-top: 10px;">Landslide: Do's & Dont's</h4>
              <p style="color: #6c757d; font-size: 14px; line-height: 1.5; margin-top: 15px;">We cannot stop disaster but minimize its impact by preparing ourselves better for landslides. The Government of India has made plans to identify the areas where landslides occur repeatedly. This is achieved through Landslide Hazard Zonation (LHZ) maps which shows or demarcates areas by different colors. NDMA has published a guideline on Landslides and Snow Avalanches as given on its website. Following are the precautionary measures for landslides in the form of do's and dont's as given below:</p>
         
                    <h6 style="color: #4baf47; font-size: 24px; margin-top: 10px;"> Do's</h6>
                    <p style="color: #6c757d; font-size: 14px; line-height: 1.5; margin-top: 15px;">
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Prepare tour to hilly region according to information given by weather department or news channel. <br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Move away from landslide path or downstream valleys quickly without wasting time.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Keep drains clean,<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Inspect drains for - litter, leaves,plastic bags, rubble etc.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Keep the weep holes open.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Grow more trees that can hold the soil through roots,<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Identify areas of rock fall and subsidence of buildings, cracks that indicate landslides and move to safer areas. Even muddy river waters indicate landslides        upstream.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Notice such signals and contact the nearest Tehsil or District Head Quarters.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Ensure that toe of slope is not cut, remains protected, don't uproot trees unless re-vegetation is planned.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Listen for unusual sounds such as trees cracking or boulders knocking together.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Stay alert, awake and active (3A's) during the impact or probability of impact.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Locate and go to shelters,<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Try to stay with your family and companions.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Check for injured and trapped persons.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Mark path of tracking so that you can't be lost in middle of the forest.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Know how to give signs or how to communicate during emergency time to flying helicopters and rescue team.<br>
                    </p>             

  
                    <h6 style="color: #4baf47; font-size: 24px; margin-top: 10px;"> Dont's</h6>
                    <p style="color: #6c757d; font-size: 14px; line-height: 1.5; margin-top: 15px;">
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Try to avoid construction and staying in vulnerable areas. <br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Do not panic and loose energy by crying.<br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Do not touch or walk over loose material and electrical wiring or pole. <br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Do not built houses near steep slopes and near drainage path. <br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Do not drink contaminated water directly from rivers, springs, wells but rain water if collected directly without is fine. <br>
                      <i class="fa-solid fa-circle" style="color: #4baf47;"></i> Do not move an injured person without rendering first aid unless the casualty is in immediate danger. <br>
                    </p>             
 
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock %}