{% extends 'base.html' %}

{% block title %}Landlslide Prediction{% endblock %}

{% block content %}
<section class="banner v1 bg-cover-center" data-background="https://www.thethirdpole.net/content/uploads/2014/08/Sindhupalchowk-landslide-Nepal.jpg" style="height: 92%;">
    <div class="container">
        <div class="row align-items-center" style="margin-top: 10%;">
            <div class="col-lg-6">
              <div class="banner-content">
                  <h6>ML Based Landslide prediction and alert</h6>
                  <h2>Technology to solve landslide risk.</h2>
                  <br>
                  <ul>
                      <li><a href="/land_slide_detection" class="link-anime v1">Predict the landslide</a></li>

                  </ul>
              </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-content" style="background-color: rgba(248, 249, 250, 0.8); border-radius: 10px; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px);">
                    <h6 style="color: #4baf47; font-size: 18px; font-weight: bold;">Landslide</h6>
                    <h5 style="color: #343a40; font-size: 24px; margin-top: 10px;">India's National Disaster Management Authority (NDMA).</h5>
                    <p style="color: #6c757d; font-size: 14px; line-height: 1.5; margin-top: 15px;">India has the highest mountain chain on earth, the Himalayas, which are formed due to collision of Indian and Eurasian plate, the northward movement of the Indian plate towards China causes continuous stress on the rocks rendering them friable, weak and prone to landslides and earthquakes. The slow motion of the Indian crust, about 5 cm/year accumulates stress to which natural disasters are attributed. Some landslides make unique, and unparalleled catastrophes. Landslides and avalanches are among the major hydro-geological hazards that affect large parts of India besides the Himalayas, the Northeastern hill ranges, the Western Ghats, the Nilgiris, the Eastern Ghats and the Vindhyans, in that order, covering about 15 % of the landmass....</p>
                    <a href="https://ndma.gov.in/Natural-Hazards/Landslide" class="btn btn-primary link-anime v1" style="margin-top: 20px; background-color: #AAD9BB; border: none; padding: 10px 20px; border-radius: 5px; color: #fff; text-decoration: none; font-weight: bold;">Learn More</a>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
{% endblock %}